.root{
    -fx-background-image: url('../images/mazebackground.jpg');
    -fx-background-size: cover;

}

MenuBar {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;

} 